<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Tabla de Vacantes de Empleos</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<h1 class="text-primary">Lista de Vacantes</h1>
	<table class="table table-striped table-bordered table-hover">
	 <tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>Fecha Publicaci&oacute;n</th>
		<th>Salario</th>
		<th>Descripci&oacute;n</th>
	 </tr>
	 <tr th:each="empleo:${empleos}">
	 	<td th:text="${empleo.id}"></td>
	 	<td th:text="${empleo.nombre}"></td>
	 	<td th:text="${empleo.fecha}"></td>
	 	<td th:text="${empleo.salario}"></td>
	 	<td th:text="${empleo.descripcion}"></td>
	 </tr>
	</table>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>